<div class="row justify-content-center">  
  <div class="col-md-8">
    <% if @article.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show mt-3">
        <div class="col-md-8">
          <div>
            <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

            <ul>
              <% @article.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>  
</div>  