<section class="hero-container">
  <div class="p-5 mb-4 bg-light rounded-3 hero-banner">
    <div class="container-fluid text-center text-light py-5">
      <h1 class="display-5 fw-bold">Welcome to the world of blogs</h1>
      <p class="col-md-8 fs-5 lh-sm" style="margin: 0 auto;">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <button class="btn btn-primary btn-lg mt-5" type="button">Sign In</button>
    </div>
  </div>
</section>