<h1 class="text-center">Edit Category</h1>
<%= render "categories/form"%>


<div class="row justify-content-center mt-3">
  <div class="col-8 text-center">
    <%= link_to 'Cancel and return to category', category_path(@category), class: "text-danger" %>
  </div>
</div>
